.app {
 padding: 50px
}
.title{
  color: orangered;
  font-weight: bold;
  font-size: 25px;
}
.footer{
  color: deepskyblue;
}
.button{
  background: orangered ;
  color: white;
  width: 170px;
  border-radius: 4px;
  border: none;
  height: 45px;
}
.divButton{
  padding-top: 30px;
}
